h1 {
  color: blue;
}
p {
  color: lime;
}
body {
  background-color: white;
}
.container {
  max-width: 80em; 
  height: 40em;
  border: 10em solid;
  padding: 0;
  border-radius: 20px;
  background-color: coral;
}
  
