h1 {
  color: blue;
}
p {
  color: lime;
}
body {
  background-color: white;
}
.container {
  max-width: 800px; 
  padding: 20px;
  border-radius: 20px;
  background-color: coral;
  margin: 50 auto;
}
.container2 {
  max-width: 800px;
  padding: 0;
  border-radius: 20px
  background-color: coral;
  margin: 0 auto;
}
